
.button {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5rem;
    background-color: rgb(160, 160, 160);
    cursor: pointer;
}